.card {
  height: 50rem;
  perspective: 150rem;
  -moz-perspective: 150rem;

  background-color: $color-grey-light-1;
  transition: all 0.8s;
  position: relative;

  &__side {
    background-color: $color-white;
    color: $color-black;
    font-size: 2rem;
    transition: all 0.8s ease;

    height: 50rem;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);

    &--front {
      background-color: $color-white;
    }

    &--back {
      background-color: green;
      transform: rotateY(180deg);

      &-1{
        background-image: linear-gradient(to right bottom, 
        $color-secondary-light, 
        $color-secondary-dark);
      }

      &-2{
        background-image: linear-gradient(to right bottom, 
        $color-primary-light, 
        $color-primary-dark);
      }

      &-3{
        background-image: linear-gradient(to right bottom, 
        $color-tertiary-light, 
        $color-tertiary-dark);
      }
    }
  }

  &:hover &__side--front {
    transform: rotateY(-180deg);
  }

  &:hover &__side--back {
    transform: rotateY(0);
  }

  &__picture{
    background-size: cover;
    height: 23rem;
    background-blend-mode: soft-light;
    -webkit-clip-path: polygon( 0 0, 100% 0, 100% 85%, 0 100%); 
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100% );

    &--1{
        background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark),
        url(../../img/nat-5.jpg);    
    }

    &--2{
        background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark),
        url(../../img/nat-6.jpg);    
    }

    &--3{
        background-image: linear-gradient(to right bottom, $color-tertiary-light, $color-tertiary-dark),
        url(../../img/nat-7.jpg);    
    }
  }

  &__heading{
    font-size: 2.8rem;
    font-weight: 300;
    text-transform: uppercase;
    color: $color-white;
    position: absolute;
    top: 12rem;
    right: 1rem;
    width: 76%;
    text-align: right;
  }

  &__heading-span{
    padding: 1rem 1.5rem;
    -webkit-box-direction-break: clone;
    box-decoration-break: clone;
    &--1{
        background-image: linear-gradient(to right bottom, 
            rgba($color-secondary-light, 0.85),
            rgba($color-secondary-dark, .85)
        );
    }
    &--1{
        background-image: linear-gradient(to right bottom, 
            rgba($color-secondary-light, 0.85),
            rgba($color-secondary-dark, .85)
        );
    }
    &--2{
        background-image: linear-gradient(to right bottom, 
            rgba($color-primary-light, 0.85),
            rgba($color-primary-dark, .85)
        );
    }
    &--3{
        background-image: linear-gradient(to right bottom, 
            rgba($color-tertiary-light, 0.85),
            rgba($color-tertiary-dark, .85)
        );
    }
  }

  &__details{
    margin-top: 2rem;
    ul{
        list-style: none;
        width: 80%;
        margin: auto;

        li{
            text-align: center;
            font-size: 1.5rem;
            padding: 1rem;

            &:not(:last-child){
                border-bottom: 1px solid rgba($color-black, .15);
            }
        }
    }
  }

  &__cta{
    text-align: center;
    font-size: 5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
  }

  &__price-box{
    margin: 0 auto;
    color: $color-white;
    margin-bottom: 8rem;
  }

  &__price-only{
    font-size: 1.4rem;
    text-transform: uppercase;
  }

  &__price-value{
    font-size: 6rem;
    font-weight: 100;
  }
}
